# YouTube
YOUTUBE_API_KEY=""
YOUTUBE_VIDEO_ID=""

# OBS
OBS_HOST="localhost"
OBS_PORT=4455
OBS_PASSWORD=""

# VOICEVOX
VOICEVOX_API_URL="http://127.0.0.1:50021"

# Google Cloud
# GOOGLE_APPLICATION_CREDENTIALS="/path/to/your/credentials.json"
